*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    font-family: "oswald", sans-serif;
}

.wrapper {
    position: relative;
    transition: 0.5s;
}

.wrapper.blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.square {
    width: 30%;
    padding-top: 30%;
    margin: 1.66%;
    background-color: purple;
    float: left;
    border-radius: 25px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 1.66%;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: #478ef1;
    margin: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#reset {
    margin-top: 5px;
    margin-right: 20px;
    height: 100%;
}

.selected {
    background-color: steelblue;
    color: white;
}

.options {
    background-color: white;
    padding: 10px 0;
    margin: 0;
}

#goal {
    text-transform: uppercase;
    font-size: 50px;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    color: steelblue;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

button:hover {
    box-shadow: 0px 0px 5px steelblue;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: steelblue;
}

#btn-container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px );
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

.game-over {
    width: 40%;
    padding: 30px 10px;
    position: fixed;
    background: linear-gradient(45deg, black, red);
    top: 57%;
    left: 50%;
    color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px #232323;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.game-over.active {
    visibility: visible;
    opacity: 1;
    top: 67%;
    transition: 0.5s;
}

.game-over-retry {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 380px) {
    #goal {
        font-size: 40px;
    }

    #container {
        margin: 4em auto;
    }

    .game-over {
        width: 70%;
        top: 40%;
    }

    .game-over.active {
        top: 50%;
    }
}